* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


html {
    font-family: 'Lato', Arial, sans-serif;
    text-align: center;
    background-color: gray;
}



div{
    padding: 0px;
}

h1 {
    border-bottom: 1.75px solid black;
    padding-bottom: 5px;
    margin: 20px 0;
}

h2 {
    border-bottom: 1.75px solid black;
    padding-bottom: 5px;
    margin: 20px 0;
}

#logoprincipal {
    padding-bottom: 20px;
    width: auto;
    background-color: black;
    text-align: center;
}

.seccion-menu{
    background-color: black;

}

.menu {
    padding: 0;
}

.boton-menu{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
}

.boton-menu:hover {
    color: grey;
    background-color: rgb(21, 21, 21);
}

.instagram{
    display: inline-block;
    padding: 5px;
    width: auto;
}

.contenido-instagram{
    max-width: 50%;
    margin: 0.5rem 1.5rem;
    
}

.texto-instagram{
    margin: 50px;
    max-width: 50%;
    text-align:left;
    font-size: 2rem;
}

.nosotros{
    max-width: 90%;
}

.division {
    border-color: rgb(71, 71, 71);
}

.productos {
    
}

.imagenes {
    width: 32%;
}

.youtube{
    max-width: 60%;
}